﻿<div class="login"><h1>Login</h1></div>
<form method="post" action="">
    <table>
        <tr>
            <td><label for="loginField">Login</label></td>
            <td><input id="loginField" type="text" name="login"></td>
        </tr>
        <tr>
            <td><label for="passwordField">Password</label></td>
            <td><input id="passwordField" type="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center"><input type="submit" value="Login"></td>
        </tr>
        <p>
            <a href="/registration">Sign up!</a>
        </p>
    </table>
</form>